<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.savare">

    <!--<uses-sdk-->
        <!--android:minSdkVersion="15"-->
        <!--android:targetSdkVersion="22" />-->

    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light"
        android:largeHeap="true">

        <!-- Google Analytics Version v4 needs this value for easy tracking -->
        <meta-data
            android:name="com.google.android.gms.analytics.globalConfigResource"
            android:resource="@xml/global_tracker" />

        <activity
            android:name=".activity.material.designer.LoginMDActivity"
            android:theme="@style/AppBaseTheme"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.CadastroUsuarioActivity" />
        <activity android:name=".activity.LogActivity" />
        <activity android:name=".activity.material.designer.InicioMDActivity"
                  android:theme="@style/AppBaseTheme"/>
        <activity android:name=".activity.material.designer.ProdutoDetalhesMDActivity"
            android:theme="@style/AppBaseTheme"/>
        <activity android:name=".activity.material.designer.ListaTitulosMDActivity"
            android:theme="@style/AppBaseTheme" >
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity
            android:name=".activity.material.designer.ProdutoListaMDActivity"
            android:theme="@style/AppBaseTheme" >
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity
            android:windowSoftInputMode="adjustPan|adjustNothing"
            android:name="com.savare.activity.SearchableActivity"
            android:label="@string/produtos"
            android:launchMode="singleTop"
            android:theme="@style/AppBaseTheme">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable">
            </meta-data>
        </activity>

        <activity android:name=".activity.material.designer.ClienteDetalhesMDActivity"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppBaseTheme"/>
        <activity android:name=".activity.material.designer.ClienteListaMDActivity"
            android:theme="@style/AppBaseTheme">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity
            android:name=".activity.material.designer.OrcamentoTabFragmentMDActivity"
            android:theme="@style/AppBaseTheme" >
        </activity>

        <activity
            android:name=".activity.material.designer.ListaOrcamentoPedidoMDActivity"
            android:theme="@style/AppBaseTheme" >
        </activity>

        <activity
            android:name=".activity.material.designer.SincronizacaoMDActivity"
            android:theme="@style/AppBaseTheme" >
        </activity>

        <activity
            android:name=".activity.material.designer.ConfiguracoesMDActivity"
            android:theme="@style/AppBaseTheme" >
        </activity>

        <activity android:name=".activity.material.designer.OrcamentoProdutoDetalhesTabFragmentMDActivity"
            android:theme="@style/AppBaseTheme">
        </activity>

        <activity
            android:name=".activity.material.designer.RegistroChaveUsuarioMDActivity"
            android:theme="@style/AppBaseTheme" >
        </activity>

        <activity
            android:name=".activity.material.designer.OrcamentoCriticaMDActivity"
            android:theme="@style/AppBaseTheme" >
        </activity>

        <activity
            android:name=".activity.material.designer.CadastroServidorMDActivity"
            android:theme="@style/AppBaseTheme">
        </activity>

        <activity
            android:name=".activity.material.designer.ListaServidoresWebserviceMDActivity"
            android:theme="@style/AppBaseTheme">
        </activity>

        <activity
            android:name=".activity.material.designer.LegendaProdutoListaMDActivity"
            android:theme="@style/AppBaseTheme" >
        </activity>

        <activity
            android:name=".activity.material.designer.ClienteCadastroTabFragmentMDActivity"
            android:theme="@style/AppBaseTheme" >
        </activity>


        <provider
            android:name=".sincronizacao.EnviarProvider"
            android:authorities="@string/content_authority"
            android:exported="false"
            android:syncable="true"/>

        <provider
            android:authorities="com.savare.provider.SearchableProvider"
            android:name="com.savare.provider.SearchableProvider" />

        <!-- Servico de sincronizacao -->
        <service
            android:name=".sincronizacao.SavareSyncService"
            android:exported="true"
            android:process=":sync">

            <!--
            This intent filter is required. It allows the system to launch our sync service
            as needed.
            -->
            <intent-filter>
                <action android:name="android.content.SavareSyncAdapter" />
            </intent-filter>
            <!-- This points to a required XML file which describes our SavareSyncAdapter. -->
            <meta-data
                android:name="android.content.SavareSyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <!-- Servico de autenticacao -->
        <service android:name=".sincronizacao.SavareAutenticadorService">

            <!-- Required filter used by the system to launch our account service. -->
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <!-- This points to an XMLf ile which describes our account service. -->
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <receiver
            android:name=".funcoes.rotinas.receptor.ReceptorAlarmeEnviarOrcamentoBroadcastRotinas"
            android:label="ReceptorAlarmeEnviarOrcamentoBroadcastRotinas">
            <intent-filter>
                <action android:name="ENVIAR_ORCAMENTO_SAVARE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".funcoes.rotinas.receptor.ReceptorNotificarAparelhoRotinas"
            android:label="ReceptorNotificarAparelhoRotinas">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="NOTIFICACAO_SAVARE" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".funcoes.rotinas.receptor.ReceptorCriarAlarmeRebootRotinas"
            android:label="ReceptorCriarAlarmeRebootRotinas">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.REBOOT" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".funcoes.rotinas.receptor.ReceptorAlarmeReceberDadosBroadcastRotinas"
            android:label="ReceptorAlarmeReceberDadosBroadcastRotinas">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="RECEBER_DADOS_SAVARE" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".funcoes.rotinas.receptor.ReceptorAlarmeEnviarCadastroPessoaBroadcastRotinas"
            android:label="ReceptorAlarmeEnviarCadastroPessoaBroadcastRotinas">
            <intent-filter>
                <action android:name="ENVIAR_OUTROS_DADOS_SAVARE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>
